<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Level 2</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <label>Username: <input type="text" name="username" required></label><br>
        <label>Password: <input type="text" name="password" required></label><br>
        <input type="submit" value="Login">
    </form>

    {% if result %}
        <p style="color: red;">{{ result }}</p>
    {% endif %}
</body>
</html>
