<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>level 0</title>
</head>
<body>
    <h1>level (0/5)</h1>
    <p id="explain">단서들을 유추해 Key를 입력하세요</p>

    <div id="hintContainer">
        <p id="hint">ROT13 - Base64 - Vigenère</p>
    </div>

    <p id="secret0">XlIPfLqxXbwceNv2NQEitEKlM2fz</p>
    
    <form id="answerForm" method="POST">
        <input type="text" id="answer0" name="answer0" required>
        <input type="submit" id="submitBtn" value="submit">
    </form>
    <p id="secret0-1">crypto</p>
    {% if result is defined and result == False %}
        <script>alert('Fail!');</script>
    {% endif %}
</body>
</html>
