<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>DSM Wargame</h1>
        <button id="homeBtn" onclick="location.href='/'"><strong>Home</strong></button>
    </div>
    <div id="body">
        <form method="post">
            <input type="text" id="username" name="username" placeholder="username">
            <input type="password" id="password" name="password" placeholder="password">
            <input type="submit" value="Login" style="background-color: lightgreen; border: none;">
        </form>
    </div>
</body>
</html>
