* {
    margin: 0;
    padding: 0;
}
#header {
    background-color: aliceblue;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#loginBtn {
    background-color: transparent;
    border: none;
    font-size: 14pt;
    color: gray;
    position: relative;
    right: 10%;
}
#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
#ruleBox {
    width: 85%;
    height: 75%;
    border-radius: 5%;
}
#ruleTitle {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 15%;
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
